<!DOCTYPE html>
<html>
  <head lang="en">
    <script src="https://use.typekit.net/gwn8xdb.js"></script>
    <script>try{Typekit.load({ async: false });}catch(e){}</script>
    <meta charset="UTF-8">
    <title>Shilpa Murthy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link href='//fonts.googleapis.com/css?family=Bilbo Swash Caps' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body id="homepage">
    <div id="parallax">
      <div class="container-fluid">
        <div class="row" id="videos">
        </div>
      </div>
    </div>
    <div class="jumbotron" id="main_heading">
      <div class="container-fluid">
        <br>
        <br>
        <div class="row">
          <h1 id="name" style="text-align: -webkit-center;">SHILPA MURTHY</h1>
        </div>
        <div class="row" style="text-align: -webkit-center; font-family: 'Bilbo Swash Caps';">
          <p id="self-tags">Engineer, Dancer, Explorer, Runner, Teacher</p>
          <br>
        </div>
        <div class="row" style="margin-top: 100px;">
          <div class="col-sm-8" id="content" style="margin-left:30px; text-align: -webkit-center;"> 
            <h2> Hi! I am Shilpa. I graduated from Carnegie Mellon a year ago in CS and ECE and moved to the Bay Area where I work as a Software Eng at Bloomreach. Apart from coding and trying to get Alexa to run every aspect of my life, I love dancing, running, hiking, reading books, talking about quasars/stars/anything celestial, meeting new people and exploring this wonderful planet. I also have recently started to dabble in photography which fuels my wanderlust. </h2>
          </div>
          <div class="col-sm-2" style="margin-left:50px;">
            <img src="{{ url_for('static', filename='css/images/profile_picture.jpg') }}" class="img-circle" width="200" height="200" style="margin: auto; display: -webkit-box;margin-left: 10px;"/>
          </div>
        </div>
        <div class="row">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <ul class="nav navbar-nav pull-left" id="main-navigation">
                <a href="/gwc"> Girls Who Code </a>
                <a href="/dance"> Dance </a>
                <a href="/places"> Travel </a>
                <a href="/books"> Books </a>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <!-- scripts -->
    <script src="//fb.me/react-0.14.3.min.js"></script>
    <script src="//fb.me/react-dom-0.14.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react//react-dom.min.js') }}"></script>
     <script src="{{ url_for('static', filename='scripts/js/hello.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>

  </body>
</html>
