<!DOCTYPE html>
<html>
  <head lang="en">
    <script src="https://use.typekit.net/gwn8xdb.js"></script>
    <script>try{Typekit.load({ async: false });}catch(e){}</script>
    <meta charset="UTF-8">
    <title>Dance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Quicksand:300" rel="stylesheet">
  </head>
  <body id="dance_body">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/hello">Home</a>
        </div>
        <ul class="nav navbar-nav pull-right" id="navbar-navigation">
          <a class="pull-right" href="/books"> Books </a>
          <a class="pull-right" href="/photos"> Photography </a>
          <a class="pull-right" href="/gwc"> Girls Who Code </a>
          <a class="pull-right" href="/travel"> Travel </a>
        </ul>
      </div>
    </nav>
    <div class="container-fluid" style="margin-top: 40px;">
        <div class="row">
           <div id="videos">
           </div>
         </div>
    </div>
        <!-- scripts -->
    <script src="//fb.me/react-0.14.3.min.js"></script>
    <script src="//fb.me/react-dom-0.14.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react//react-dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react-bootstrap/react-bootstrap.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.30.7/react-bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/js/hello.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
  </body>
</html>

