/* custom styles */
.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

.fade:hover {
  opacity: 0.5;
  cursor: pointer;
}

#vertical_line {
  border-right: solid #fcf8e3;
}

#marker_dance, #marker_dance i{
  color: #fcf8e3;
  font-size: 50px;
  text-align: -webkit-center;
}

#modal_video {
  opacity: 1;
}

#yt_video {
  margin-bottom: 30px;
  margin-top: 10px;
}
#video_row {
  padding-left: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin-bottom: 70px;
}

#video_heading h1, #gwc_heading {
  text-align: -webkit-center;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin-bottom: 50px;
  margin-top: 50px;
}

.navbar .navbar-default .navbar-fixed-top {
  background-color: rgba(0, 0, 0, 0.5);
}

#video_blurb {
  text-align: -webkit-center;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin-bottom: 50px;
  margin-left: 70px;
}

#video_date{
  text-align: -webkit-center;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

h1 {
  font-family: "Fibon_Sans_Regular", sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: #fcf8e3;
}

h2 {
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: 200;
  font-size: 25px;
  color: #fcf8e3;
  margin-top: 15px;
}

#date {
  margin-top: 20px;
  font-size: 20px;
}


.jumbotron .h1, .jumbotron h1 {
	font-family: "Fibon_Sans_Regular", sans-serif;
    font-size: 100px;
    font-weight: 300;
    color: #fcf8e3;
}

.book-image {
  width: 200px;
  height: 270px;
}

#self-tags{
  font-family: "Bilbo Swash Caps";
  font-weight: 200;
  font-size: 30px;
  color: #5C4033;
}

.self_tags{
  font-family: "Bilbo Swash Caps";
  font-weight: 200;
  font-size: 30px;
  color: #fcf8e3;
  margin-top: 30px;
}

.self_tags:hover {
  cursor: pointer;
}

#pinIcon, #icon {
    width: 70px;
    margin-left: 0px;
    margin-top: 20px;
}

#video{
  margin-left: 60px;
  margin-bottom: 40px;
}

#name {
	font-family: "AdamCGPro", sans-serif;
	font-weight: 200;
    font-size: 40px;
    color: #A0522D;
}

#heading {
	font-family: "aktiv-grotesk", sans-serif;
	font-weight: 200;
    font-size: 25px;
    color: #fcf8e3;
}

#video_description, li {
	font-family: "aktiv-grotesk", sans-serif;
	font-weight: 200;
    font-size: 15px;
    color: #fcf8e3;
    line-height: 2;
}

#content {
	vertical-align: text-bottom;
}

#content .h2, #content h2 {
	font-family: "aktiv-grotesk-thin",sans-serif;
	font-weight: 200;
    font-size: 20px;
    color: #344152;
    line-height: 2;
    vertical-align: text-bottom;
    margin-top: 20px;
}

#gwc_content p{
  font-family: "aktiv-grotesk-thin",sans-serif;
  font-weight: 200;
    font-size: 20px;
    color: #fcf8e3;
    line-height: 2;
}


#homepage {
  	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
  	-o-background-size: 100% 100%;
  	background-size: 100% 100%;
  	background-attachment: fixed;
  	margin: 0;
}

#parallax {
    /* The image used */
    height: 700px;
    background-image: url("images/candles.jpg");  no-repeat; 
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#places, #dance_body, #gwc_body {
    background-image: url("images/home_background_dark.jpg"); no-repeat; 
  	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
  	-o-background-size: 100% 100%;
  	background-size: 100% 100%;
  	background-attachment: fixed;
  	margin: 0;
}

#main_heading {
	background: rgba(0,0,0,0);
	margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#main-navigation {
	color: #5C4033;
	font-family: "letter-gothic-std";
	margin-top: 10px;
	padding-left: 50px;
}
#navbar-navigation a{
  padding-right: 50px;
  color: #fcf8e3;
}
#main-navigation a{
  padding-right: 50px;
  color: #5C4033;
}
.navbar-default .navbar-brand {
	color: #fcf8e3;
	font-weight: 300;
	 font-family: "letter-gothic-std";
	font-size: 15px;
  padding-top: 0px;
}

.navbar, .navbar-default{
	background: rgba(0,0,0,0);
	border:0px;
	 font-family: "letter-gothic-std";
	font-weight: 100;
    font-size: 15px;
    margin-top: 30px;
}

@font-face {
	font-family: AdamCGPro;
	src: url("fonts/AdamCGPro.otf") format("opentype");
}

@font-face {
	font-family: Fibon_Sans_Regular;
	src: url("fonts/Fibon_Sans_Regular.otf") format("opentype");
}

.modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}
 
.modal-content {
    background: none;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
 
.modal-body {
    padding: 0 25px 25px 25px;
}
 
.modal-header {
    padding: 25px 25px 15px 25px;
    text-align: right;
}
 
.modal-header, .modal-footer {
    border: 0;
}
 
.modal-header .close {
    float: none;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}